<p-dialog [header]="menu.name" [(visible)]="display" [modal]="true" position="top" [style]="{width: '75vw'}"
    [breakpoints]="{'960px': '95vw'}" [style]="{width: '75vw'}" [draggable]="false" [resizable]="false"
    (onHide)="onClose.emit()">

    <p-table styleClass="p-datatable-sm" responsiveLayout="scroll" [value]="items" dataKey="_id"
        [resizableColumns]="true" columnResizeMode="expand">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Image</th>
                <th pSortableColumn="name">
                    Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="price">
                    Price <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="type">
                    Type <p-sortIcon field="type"></p-sortIcon>
                </th>
                <th pSortableColumn="status">
                    Status <p-sortIcon field="status"></p-sortIcon>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr>
                <td><img [src]="item.imageURL" [alt]="item.name" width="100" class="shadow-4" /></td>
                <td>{{item.name}}</td>
                <td><i class="fa fa-rupee"></i> {{item.price}}</td>
                <td>
                    <span [class]="'type-badge type-' +(item.type ? item.type.toLowerCase() : '')">{{item.type}}</span>
                </td>
                <td>
                    <span
                        [class]="'status-badge status-' +(item.status ? item.status.toLowerCase() : '')">{{item.status}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-progressBar *ngIf="isItemsLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-dialog>