<div class="container">
    <div class="card p-4 mt-4 mb-5">

        <div class="d-flex justify-content-between pb-2">
            <span class="h4 fw-bold mt-1">Orders</span>
            <i *ngIf="orderData.length > 0" class="fa fa-info-circle fs-20 m-2 purple cursor-pointer" pTooltip="Stats"
                tooltipPosition="bottom" (click)="onShowStats()"></i>
        </div>

        <div id="order-actions" class="d-flex justify-content-between pb-2">
            <p-calendar [(ngModel)]="date" [maxDate]="maxDate" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                (onSelect)="getOrders()"></p-calendar>
            <div class="d-flex justify-content-end">
                <button type="button" pButton pRipple icon="pi pi-file-excel"
                    class="p-button-rounded p-button-outlined p-button-success mr-2" pTooltip="XLS"
                    tooltipPosition="bottom" (click)="exportExcel()"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf"
                    class="p-button-rounded p-button-outlined p-button-warning mr-2" pTooltip="PDF"
                    tooltipPosition="bottom" (click)="exportOptions.show($event)"></button>
            </div>
        </div>

        <p-table #orderDt responsiveLayout="scroll" [value]="orderData" [rowHover]="true" dataKey="_id"
            [resizableColumns]="true" columnResizeMode="expand"
            [globalFilterFields]="['user', 'address', 'amount', 'meal']">
            <ng-template pTemplate="caption">
                <div class="d-flex justify-content-between">
                    <span class="p-input-icon-left" style="width: 200px;">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="filter(orderDt, $event)" class="w-100"
                            placeholder="Search keyword" />
                    </span>
                    <button pButton pRipple type="button" icon="pi pi-filter-slash"
                        class="p-button-rounded p-button-text pt-3" (click)="orderDt.clear()"></button>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Action</th>
                    <th pSortableColumn="user">
                        User <p-sortIcon field="user"></p-sortIcon>
                    </th>
                    <th>Contact</th>
                    <th pSortableColumn="items">
                        Items <p-sortIcon field="items"></p-sortIcon>
                    </th>
                    <th>Comment</th>
                    <th>Address</th>
                    <th pSortableColumn="subArea">
                        SubArea <p-sortIcon field="subArea"></p-sortIcon>
                    </th>
                    <th pSortableColumn="area">
                        Area <p-sortIcon field="area"></p-sortIcon>
                    </th>
                    <th pSortableColumn="amount">
                        Amount <p-sortIcon field="amount"></p-sortIcon>
                    </th>
                    <th pSortableColumn="meal">
                        Meal <p-sortIcon field="meal"></p-sortIcon>
                    </th>
                    <th pSortableColumn="orderDate">
                        Ordered On <p-sortIcon field="orderDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="rating">
                        Rating <p-sortIcon field="rating"></p-sortIcon>
                    </th>
                    <th>Feedback</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-order>
                <tr [pSelectableRow]="order">
                    <td>
                        <button *ngIf="order.status === 'ORDERED'" pButton pRipple icon="pi pi-check"
                            class="p-button-rounded p-button-outlined p-button-success mr-2"
                            pTooltip="Mark as Delivered" tooltipPosition="bottom"
                            (click)="markAsDelivered(order)"></button>
                        <button *ngIf="order.status === 'DELIVERED'" pButton pRipple icon="pi pi-check"
                            class="p-button-rounded p-button-success mr-2" pTooltip="Delivered"
                            tooltipPosition="bottom"></button>
                    </td>
                    <td>{{order.user}}</td>
                    <td>{{order.contact}}</td>
                    <td><span *ngFor="let item of order.items"
                            [class]="'item-badge meal-' + order.meal.toLowerCase()">{{item}}</span></td>
                    <td>{{order.comment}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order.subArea}}</td>
                    <td>{{order.area}}</td>
                    <td>{{order.amount}}</td>
                    <td><span [class]="'meal-badge meal-' + (order.meal ? order.meal.toLowerCase() : '')">
                            {{order.meal}}</span></td>
                    <td>{{order.orderDate | date: 'medium'}}</td>
                    <td>
                        <p-rating *ngIf="order.rating" [ngModel]="order.rating" [readonly]="true" [stars]="5"
                            [cancel]="false"></p-rating>
                    </td>
                    <td>{{order.feedback}}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="10">There are no orders yet.</td>
                </tr>
            </ng-template>
        </p-table>
        <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
</div>

<p-dialog header="Statistics" [(visible)]="showStats" [modal]="true" [style]="{width: '50vw'}"
    [breakpoints]="{'960px': '95vw'}" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div class="d-flex justify-content-center pb-3"><p-selectButton id="meal" [(ngModel)]="selectedMeal"
            [options]="mealTypes" (onChange)="onShowStats()"></p-selectButton></div>
    <p-table [value]="stats" responsiveLayout="scroll" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th>Item</th>
                <th class="text-center">Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stat>
            <tr>
                <td>{{stat.item}}</td>
                <td class="text-center">{{stat.count}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-stat>
            <tr *ngIf="stats.length == 0">
                <td colspan="2" class="text-center">No Data Available</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-overlayPanel #exportOptions>
    <ng-template pTemplate>
        <p-listbox [options]="['LUNCH', 'DINNER']" (onChange)="exportPdf(exportOptions, $event.value)"></p-listbox>
    </ng-template>
</p-overlayPanel>

<p-confirmDialog [breakpoints]="{'960px': '50vw', '640px': '95vw'}" header="Confirm"
    icon="pi pi-exclamation-triangle"></p-confirmDialog>